/* Adaptation from https://freqdec.github.io/Pure-CSS-Tooltips/ */
/* Styles for elements having a data-tooltip attribute - using the star
   selector sucks so you may wish to change this to predefined list of HTML
   tags instead */
*[data-tooltip] {
  /* position:relative the tooltip launcher to enable us to position:absolute
      the generated content */
  position: relative;
  /* Change cursor - you may want to remove this if you don't like the
      effect */
  cursor: help;
}

/* Default ::before & ::after values */
*[data-tooltip]::before,
*[data-tooltip]::after {
  pointer-events: none;
  outline: none;
  display: block;
  z-index: 999;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin: 0;
  padding: 0;

  /* Set-up the animation */
  opacity: 0;
  transition: all 0.4s ease-out 0.2s;
  transform: translate(-50%, -1rem);
}

/* Tooltip arrow */
*[data-tooltip]::before {
  content: "";
  /* Borders are used to create the arrow so no height or width required */
  width: 0;
  height: 0;
  line-height: 0;
  /* This sets the tooptip arrow color */
  border-top: 5px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: transparent;
  overflow: hidden;
}

/* Tooltip bubble */
*[data-tooltip]::after {
  /* Use the data-tooltip attribute to set the content */
  content: attr(data-tooltip);
  /* Set a default width */
  /* Use a margin to create the space required for displaying the tooltip
      arrow */
  margin-bottom: 0.2rem;
  /* Defensive font reset as we inherit */
  letter-spacing: normal;
  text-align: center;
  /* (older) Moz doesn't seem to recognise the following */
  text-decoration: none;
  word-spacing: normal;
  word-wrap: normal;
  word-break: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  /* webkit has problems using rem units on generated content so i'm falling
     back to old school pixels */
  padding: 0.4rem 1rem;
  min-height: 1rem;
  color: #fcfcfc;
  /* Default 'dark' theme */
  background-color: #222;
  background-image: linear-gradient(top, #222, #000);
  border-radius: 0.2em;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0px;
}

/* :hover & :focus states */
*[data-tooltip]:hover::before,
*[data-tooltip]:focus::before,
*[data-tooltip]:hover::after,
*[data-tooltip]:focus::after {
  transform: perspective(1px) translate(-50%, 0);
  /* Reset pointer events or things go all strange... */
  pointer-events: auto;
  /* Set the final opacity */
  opacity: 0.96;
}

/* Blue theme */
*[data-tooltip][data-tooltip-theme~="blue"]::after,
[data-tooltip-theme~="blue"] *[data-tooltip]::after {
  background-image: linear-gradient(top, #3498db, #3198dd);
}

*[data-tooltip][data-tooltip-theme~="blue"]::before,
[data-tooltip-theme~="blue"] *[data-tooltip]::before {
  border-top-color: #3198dd;
}

/* Red theme */
*[data-tooltip][data-tooltip-theme~="red"]::after,
[data-tooltip-theme~="red"] *[data-tooltip]::after {
  background-image: linear-gradient(top, #c0392b, #e74c3c);
}

*[data-tooltip][data-tooltip-theme~="red"]::before,
[data-tooltip-theme~="red"] *[data-tooltip]::before {
  border-top-color: #e74c3c;
}

/* Make tooltip "links" have a different pointer (as the tooltip uses the
"help" cursor) */
a[data-tooltip] {
  cursor: pointer;
}